<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="logs\internal\internallog.txt">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="logs/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
<!--In a debug mode, the logs will be created in a bin/debig of net5.0 folder and internal logs will be in a solution itself.
But once you deploy the app,they should be in a same place [in prject root folder level] because you don't have anymore bin/debug
folder in deployment.

-->
