@model AspNetCoreFactory.Mvc.Areas.Orders.Models.List
@inject AspNetCoreFactory.InfraStructure.Caching.ILookup Lookup
@{
    ViewBag.Title = "Orders";
    
}
<form>
 
    <div class="pt-25 px-15">
        <h4>Orders</h4>
        <div class="row mt-20 pl-15 pt-15 bg-light">
            <div class="col-4">
                <div class="form-group row">
                    <label for="CustomerId" class="col-sm-5 col-form-label">Customer</label>
                    <div class="col-sm-7">
                        <select asp-for="CustomerId" asp-items="Lookup.CustomerItems" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ProductId" class="col-sm-5 col-form-label">Product</label>
                    <div class="col-sm-7">
                        <select asp-for="ProductId" asp-items="Lookup.ProductItems" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="col-5">

                <div class="form-group row ">
                    <label for="OrderDate" class="col-sm-4 col-form-label">Order Date</label>
                    <div class="col-sm-8">
                        <table>
                            <tr>
                                <td style="width:45%"><input type=text asp-for="OrderDateFrom" class="form-control js-datepicker" placeholder="From" /></td>
                                <td style="width:10%" class="text-center">-</td>
                                <td style="width:45%"><input type=text asp-for="OrderDateThru" class="form-control js-datepicker" placeholder="Thru" /></td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>
            <div class="col-3">
                <div class="form-group row ">
                    <div class="col pt-3 pl-20">

                        <button id="Filter" class="btn btn-light btn-sm" type="submit">&nbsp;&nbsp; Filter &nbsp;&nbsp;</button>&nbsp;&nbsp;
                        <a href="/orders" class="btn btn-light btn-sm">&nbsp; Reset &nbsp;</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post">
    <div class="row py-30 pb-10">
        <div class="col">

            <table class="table table-sm table-hover table-list">
                <tr>
                    <th class="table-list-actions no-hover">
                        <a class="btn btn-xs btn-light" href="/orders/edit">New Order</a>
                    </th>
                    <th>Customer</th>
                    <th>Product</th>
                    <th class="text-center">Date</th>
                    <th>&nbsp;</th>
                </tr>

                @if (Model.Orders.Count() == 0)
                {
                    
                <tr><td colspan="4"><div class="no-items">No items to display</div></td></tr>
                }

                @foreach (var order in Model.Orders)
                {
                <tr>
                    <td>
                        <a class='btn btn-xs btn-light' onclick="$('form').attr('action', '/orders/delete/@order.Id').submit();" href="javascript:void(0);">Delete</a>
                    </td>
                    <td><a class="table-list-link" href="/customers/@order.CustomerId">@order.CustomerName</a></td>
                    <td><a class="table-list-link" href="/products/@order.ProductId">@order.ProductName</a></td>
                    <td class="text-center">@order.OrderDateFormatted</td>
                </tr>
                }
            </table>
        </div>
    </div>

</form>

@section Scripts
    {
    <script>
        $(function () {
            $('.js-datepicker').datepicker({
                format: 'm/d/yyyy',
                autoclose: true,
                closeOnDateSelect: true
            });
        });
    </script>
}
